<script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />
<div class="home">
  <div class="jumbotron">
    <h1 class="display-4">Helping to feed our local communities!</h1>
    <p class="lead">Many charites and organisastions are proivindg access to free food and drink to those who need it!
      Search below
      using the map </p>
    <hr class="my-4">

  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col p-3">
      <button class="btn btn-primary" id="fly">Search by Postcode</button>
      <button class="btn btn-primary" id="currentLocation"> <i class="bi bi-geo-alt"></i></button>
    </div>
    <div class="col-lg-9 p-3">
      <input type="text" class="form-control" placeholder="Enter postcode:" id="postcode" required name="postcode">
      <div class="alert alert-danger" id="postcodeAlert" role="alert">Postcode Invalid</div>
    </div>
  </div>
  <hr class="my-4">
  <div class="row">
    <div class="col">
      <div id="map" style="width: 100%; height: 500px; border-radius: 5px"></div>
    </div>
  </div>
  <div class="d-flex justify-content-center border border-solid p-3">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active justify-content-center">
      <h2>Scroll through the latest locations</h2>
   </div>

  {{#each locationsDB}}
    <div class="carousel-item">
  <div class="container p-3">
    <h2 class="px-3">Location name: {{locationName}}</h2>
    <h5 class="px-3 py-3">Postcode: {{ifPostcode postcode}}</h5>
    <h5 class="px-3 py-3">Contact Number: {{number}}</h5>
    <h5 class="px-3 py-3">What I can find: {{served}}</h5>
    <h5 class="px-3 py-3">Type: {{type}}</h5>
    <h5 class="px-3 py-3">View more: <a href="/location/{{{_id}}}">{{locationName}} <i class="bi bi-box-arrow-up-right"></i></a></h5>
    <p class="px-3 py-3 border border-solid">{{descriptionBox}}</p>
  </div>

   </div>
   
  {{/each}}
   
  
  </div>
  
  <a class="carousel-control-prev text-primary" href="#carouselExampleControls" role="button" data-slide="prev">
    <span><i class="bi bi-arrow-left" aria-hidden="true"></i></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next text-primary" href="#carouselExampleControls" role="button" data-slide="next">
    <span><i class="bi bi-arrow-right" aria-hidden="true"></i></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  </div>
  <div class="container-fluid">
    <h3 class="mt-3">About</h3>
    <p class="mx-3">FoodHelper is a Web Application which aims to fight food poverty by providing a platform for
      charities and organizations
      To share what they can provide to you. From warm-cooked meals to packaged food and drink, there are plenty of
      options to choose from.
      If you are struggling to find something to eat, contact your local council as they proivde many useful services
    </p>
    <p>
      Maps are provided by <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> open API
    </p>
    <p>Using the <a href="https://postcodes.io/">Postcodes.io</a> API</p>
    <a href='https://www.mapbox.com/about/maps/'>Mapbox</a> © <a
      href='http://www.openstreetmap.org/copyright'>OpenStreetMap</a> <strong><a
        href='https://www.mapbox.com/map-feedback/' target='_blank'>Improve this map</a></strong>
  </div>

</div>


<script src="map.js"></script>